<template>
  <div id ="home" >
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" v-on:click="goHome()">Segunda Iteración Tingeso</a>
      <form class="form-inline">
        <button class="btn btn-sm btn-light" type="button" v-on:click="goLogin()">Iniciar Sesion</button>
      </form>
    </nav>

    <v-row align="center" justify="center">
<div class="p-2">
  <b-jumbotron >
    <template v-slot:header>
    <h1 class= "text-center">
      Entregable aplicacion WEB
    </h1>
    </template>

    <template v-slot:lead>
      <p class="text-center p-2">
      Segundo entregable para el curso de Tecnicas de Ingenieria de Software. 
      </p>
    </template>

    <hr class="my-4">
    <p class= "text-center">
      Docente René Zárate - Ayudante Omar Carrasco
    </p>
    <hr class="my-4">
  </b-jumbotron>
  </div>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'About',
  components: {
    
  },
  methods: {
            goLogin() {
                this.$router.push({name: 'login'});
            },
            goHome() {
                this.$router.push({name: 'home'});
            }
        }
}
</script>
