<template>
<div id='dashboard'>
  <br>
  <br>
  <br>

  <v-row justify="center">
      <div>

      <h2> Tablón de Datos </h2>

      </div>

    </v-row>
  

    <v-row justify="center">
    
      <div>
      <v-row justify="end">
              <button class="btn btn-sm btn-dark" type="button" v-on:click="cerrarSesion()">Cerrar Sesión</button>

      </v-row>
        <RankingTable />
      </div>

    </v-row>
</div>
    
</template>



<script>
import http from '@/plugins/http-common';
import RankingTable from '../components/RankingTable.vue';

import dataUsach from '../components/data/careers.json';

const axios = require('axios');
axios.defaults.headers.post['Content-Type'] = 'application/json';

export default {
  name: 'panelView',
  
  props: {'token':String},
  components: {
    RankingTable
  },
  data: vm => ({
    date: new Date().toISOString().substr(0, 10),
    dateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
    valid: true,
    menuDate: false,
    title: "",
    lastName: "",
    contact: "",
    career: dataUsach.careers,
    nameRules: [v => !!v || "El titulo es requerido"],
    lastNameRules: [v => !!v || "El Autor es requerido"],
    description: "",
    descrRules: [v => !!v || "La descripcion es requerido"],
    dateRules: [v => !!v || "La fecha de nacimiento es requerida"],
    response: "",
    category: "",
    careers: []
  }),
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date);
    }
  },
  watch: {
    date() {
      this.dateFormatted = this.formatDate(this.date);
    }
  },
  mounted() {
    const url = 'http://161.35.104.39:8081/category/all/';
    axios.get(url)
      .then( response => {
        this.categories = response.data;
        var i = 0;
          while (i < response.data.length) {
            this.careers.push(response.data[i].name);
            i += 1;
        }
        console.log(this.categories);
        console.log(this.careers);
        });
      
  },
  methods: {
    cerrarSesion() {
        this.$router.push({name: 'home'});
    },
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}-${month}-${year}`;
    },
    parseDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    sendStudent() {

      let json = JSON.stringify({
        token: this.$route.params.token,
        title: this.title,
        category: this.category,
        description: this.description,
        date: this.dateFormatted,
        price: 0,
        apreciation: 0,
        shown: 1
      });
      console.log(json);
      axios.post('http://161.35.104.39:8081/announcement/', json)
        .then(response => {
          console.log(response);
          if (this.$route.params.token == undefined){
            alert ("Por favor, inicie sesión");
          }else if (response.data == "Ha ocurrido un problema ingresando el anuncio"){
            alert("El anuncio no ha podido crearse. Por favor, verifique los datos ingresados");
          }else{
            alert("El anuncio ha sido creado correctamente");
          }
        })
        .catch(function (error) {
          console.log(error);
          alert("Error creando el anuncio. Por favor, intentelo nuevamente");
        });
                    
    },
    getCareers() {
      http
        .get("/careers")
        .then(response => {
          this.response = response.data; // JSON are parsed automatically.
          var i = 0;
          while (i < response.data.length) {
            //this.careers.push(response.data[i].name);
            i += 1;
          }
        })
        .catch(e => {
          console.log(e);
        });
    },
    reloadPage() {
      window.location.reload();
    },
  }
};
</script>


<style>

</style>