<template>
<div class="container my-12 rounded bg-dark container-fluid col-sm-12  justify-content-center">
  <b-jumbotron class = "my-2">
    <v-row align="center" justify="center">
      <v-col class="text-center" cols="5" sm="2">
        <v-text-field v-model="this.$route.params.ad.title" :rules="nameRules" label="Título" disabled></v-text-field>
      </v-col>
      <v-col class="text-center" cols="5" sm="2">
        <v-text-field v-model="this.$route.params.ad.date" :rules="nameRules" label="Fecha" disabled></v-text-field>
      </v-col>
      <v-col class="text-center" cols="5" sm="2">
        <v-text-field v-model="this.$route.params.ad.category.name" :rules="nameRules" label="Categoría" disabled></v-text-field>
      </v-col>
      <v-col class="text-center" cols="5" sm="2">
        <v-text-field v-model="this.$route.params.ad.user.name" :rules="nameRules" label="Autor" disabled></v-text-field>
      </v-col>
    </v-row>

    <v-row align="center" justify="center" cols="5" sm="2">
        <div class="input-group col-sm-8">
            <div class="input-group-prepend">
                <span class="input-group-text">Descripción </span>
            </div>
            <textarea v-model="this.$route.params.ad.description" class="form-control " aria-label="With textarea" disabled></textarea>
        </div>
    </v-row>

    <v-form id="generalForm" ef="form" v-model="valid" ref="form">
        <v-row align="center" justify="center" cols="5" sm="2">
            <div class="input-group col-sm-8" >
              <div class="input-group-prepend">
                  <span class="input-group-text">Añadir un Comentario</span>
              </div>
              <textarea v-model="description" class="form-control " aria-label="With textarea"></textarea>
            </div>
        </v-row>

    <v-row align="center" justify="center">
      <div class="my-2">
        <v-btn :disabled="!valid" color="primary" class="mr-4" @click="backToPanel();">Volver</v-btn>
      </div>
       <div class="my-2">
        <v-btn :disabled="!valid" color="primary" class="mr-4" @click="sendComment();">Enviar</v-btn>
      </div>
    </v-row>
    
  </v-form>

    <br />
    <br />
    <br />

    <v-row align="center" justify="center" cols="5" sm="2">
        <div class="input-group col-sm-8" v-for="item in comments" v-bind:key="item">
            <div class="input-group-prepend">
                <span class="input-group-text">{{item.user.name}} </span>
            </div>
            <textarea v-model="item.comment" class="form-control " aria-label="With textarea" disabled></textarea>
        </div>
    </v-row>

  </b-jumbotron>
</div>    
</template>



<script>
import http from '@/plugins/http-common';

import dataUsach from '../components/data/careers.json';

const axios = require('axios');
axios.defaults.headers.post['Content-Type'] = 'application/json';

export default {
  name: 'DetailAd',
  
  props: {'token':String},
  components: {
  },
  data: vm => ({
    date: new Date().toISOString().substr(0, 10),
    dateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
    valid: true,
    menuDate: false,
    title: "Titulo del Anuncio",
    author:"Kevin",
    lastName: "",
    contact: "",
    career: dataUsach.careers,
    nameRules: [v => !!v || "El titulo es requerido"],
    lastNameRules: [v => !!v || "El Autor es requerido"],
    description: "",
    descrRules: [v => !!v || "La descripcion es requerido"],
    dateRules: [v => !!v || "La fecha de nacimiento es requerida"],
    response: "",
    category: "Mudanzas",
    comments: []
  }),
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date);
    }
  },
  watch: {
    date() {
      this.dateFormatted = this.formatDate(this.date);
    }
  },
  mounted() {
    this.getComments();
      
  },
  methods: {
      getComments() {
          const url = 'http://161.35.104.39:8081/comment/byAnnouncement/';
     let json = JSON.stringify({
        token: this.$route.params.token,
        announcementId: this.$route.params.ad.id
      });

    console.log(this.$route.params.ad.id);
    axios.post(url, json)
      .then( response => {
          console.log(response.data);
          console.log("peticion");
            this.comments = response.data;
            console.log(this.comments);
        });
  
      },

    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}-${month}-${year}`;
    },
    parseDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    backToPanel() {
        this.$router.push({name: 'panel', params: {token: this.$route.params.token}});
    },
    sendComment() {

      if (this.description == ""){
        alert('Por favor, escriba un comentario');
        return;
      }

      let json = JSON.stringify({
        token: this.$route.params.token,
        announcementId: this.$route.params.ad.id,
        comment: this.description
      });
      console.log(json);
      axios.post('http://161.35.104.39:8081/comment/', json)
        .then(response => {
          console.log(response);
          if (this.$route.params.token == undefined){
            alert ("Por favor, inicie sesión");
          }else{
            alert("El comentario ha sido añadido correctamente");
            this.getComments();
          }
        })
        .catch(function (error) {
          console.log(error);
          alert("Error creando el anuncio. Por favor, intentelo nuevamente");
        });
                    
    },
    getCareers() {
      http
        .get("/careers")
        .then(response => {
          this.response = response.data; // JSON are parsed automatically.
          var i = 0;
          while (i < response.data.length) {
            //this.careers.push(response.data[i].name);
            i += 1;
          }
        })
        .catch(e => {
          console.log(e);
        });
    },
    reloadPage() {
      window.location.reload();
    },
  }
};
</script>
