<template>
  <div id ="home"  >
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" v-on:click="goAbout()">Segunda Iteración Tingeso</a>
      <form class="form-inline">
        <button class="btn btn-sm btn-light " type="button" v-on:click="goLogin()">Iniciar Sesion</button>
      </form>
    </nav>

    <v-row align="center" justify="center">
<div class="my-6">
  <b-jumbotron >
    <template v-slot:header>
    <h1 class= "text-center">
      DevOps - Grupo n°2 
    </h1>
    </template>

    <template v-slot:lead>
      <p class="text-center p-2">
      Segundo entregable para el curso de Tecnicas de Ingenieria de Software. 
      </p>
    </template>

    <hr class="my-4">
    <p class= "text-center">
      Docente René Zárate - Ayudante Omar Carrasco
    </p>
    <hr class="my-4">
    <Team/>

  </b-jumbotron>
  </div>
    </v-row>
  </div>
</template>




<script>
// @ is an alias to /src
import Team from '../components/Team.vue';

export default {
  name: 'Home',
  components: {
    Team
  },
  methods: {
            goLogin() {
                this.$router.push({name: 'login'});
            },
            goHome() {
                this.$router.push({name: 'home'});
            },
            goAbout() {
                this.$router.push({name: 'about'});
            }
        }
}
</script>
