<template>
<div>
  <div>
  <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" >Segunda Iteración Tingeso</a>
      <form class="form-inline">
        <button class="btn btn-sm btn-light" type="button" v-on:click="goHome()">Back to Home</button>
      </form>
    </nav>
  </div>
  <div id ="Login" class="row justify-content-center align-items-center h-75 p-5" >
  <b-jumbotron >
  <div class="container rounded bg-dark" >
  <div class="col-sm-12  d-flex justify-content-center">
    <h5 class="text-center text-white ">Please sign in</h5>
  </div>
  <form>
 
  <div class="form-outline mb-1">
    <input type="text" name="username" v-model="input.username" placeholder="Username" id="form1Example1" class="form-control" />
    
  </div>

  <div class="form-outline">
    <input type="password" name="password" v-model="input.password" placeholder="Password" id="form1Example2" class="form-control" />
  </div>
  <div class="row ">
    <div class="col">
      <!-- Simple link -->
      <a href="#!" class="text-center text-white font-italic">Crear una cuenta</a>
    </div>
  </div>

  <button type="submit" class="btn btn-light btn-block border-white" v-on:click="login($event)">Iniciar Sesion</button>
    </form>
    </div>
  </b-jumbotron >
  </div>
</div>
</template>

<script>
const axios = require('axios');
  axios.defaults.headers.post['Content-Type'] = 'application/json;charset=UTF-8';
export default {
        name: 'loginView',
        data() {
            return {
                input: {
                    name: "",
                    password: ""
                }
            }
        },
        methods: {
            login(e) {
              e.preventDefault();
                if(this.input.username != "" && this.input.password != "") {
                     let json = JSON.stringify({
                        name: this.input.username,
                        password: this.input.password
                     });
                     console.log(this.input.username);
                    axios.post('http://161.35.104.39:8081/user/logIn/', json)
                      .then(response => {
                        console.log(response);
                        let token = response.data
                        if (token != ""){
                          if (this.input.username == 'Javier Perez'){
                            this.$router.push({name: 'dashboardMun', params: {token: token}});
                          }else{
                            this.$router.push({name: 'panel', params: {token: token}});
                          }
                        }else{
                          alert("Datos de usuario no son válidos. Por favor, intente nuevamente");
                        }
                      })
                      .catch(function (error) {
                          alert("Datos de usuario no son válidos. Por favor, intente nuevamente");
                        console.log(error);
                      });
                    
                } else {
                    console.log("A username and password must be present");
                }
            },
            goHome(){
              this.$router.push({name: 'home'});
            }
        }
}
</script>