<template>
  <div class="container rounded bg-dark container-fluid col-sm-12  justify-content-center">
  <div>
    <nav class="navbar rounded navbar bg-dark border border-light">
      <a class="navbar-brand text-white" >Segunda Iteración Tingeso</a>
      <form class="form-inline border-dark">
        <button class="btn btn-sm btn-light" type="button" v-on:click="goHome()">Back to Home</button>
      </form>
    </nav>
  </div>
  <b-jumbotron class = "my-2">
    <v-form id="generalForm" ef="form" v-model="valid" ref="form">
      <v-row align="center" justify="center" cols="5" sm="2">
        <div class="input-group col-sm-10" >
          <v-text-field v-model="title" :rules="nameRules" label="Título" required></v-text-field>
        </div>
      </v-row>

      <v-row align="center" justify="center" cols="5" sm="2">
      <div class="input-group col-sm-10" >
        <v-menu
          ref="menuDate"
          v-model="menuDate"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="dateFormatted"
              label="Fecha de Publicacion"
              hint="Form. dd-mm-aaaa"
              persistent-hint
              readonly
              v-on="on"
              :rules="dateRules"
              required
            ></v-text-field>
          </template>
          <v-date-picker v-model="date" no-title @input="menuDate = false"></v-date-picker>
        </v-menu>
      </div>
      </v-row>

      <v-row align="center" justify="center" cols="5" sm="2">
      <div class="input-group col-sm-10" >
          <v-autocomplete
            v-model="category"
            :items="careers"
            label="Categoria"
            placeholder="Seleccione categoría"
            required
            :rules="[v => !!v || 'La carrera es requerida']"
            hide-no-data
          ></v-autocomplete>
        </div>
      </v-row>
      <v-row align="center" justify="center" cols="5" sm="2">
          <div class="input-group col-sm-10" >
            <div class="input-group-prepend">
              <span class="input-group-text">Anuncio</span>
            </div>
            <textarea v-model="description" class="form-control " aria-label="With textarea"></textarea>
          </div> 
      </v-row>

      <v-row align="center" justify="center">
        <div class="my-2 ">
          <v-btn :disabled="!valid" color="primary" class="mr-4" @click="sendStudent();">Enviar</v-btn>
        </div>
      </v-row>

      <br />
      <br />
      <br />

      <v-row justify="center">
        <div class ="container-fluid">

          <DataTable />

        </div>

      </v-row>
      
    </v-form>
  </b-jumbotron>
  </div>
</template>



<script>
import http from '@/plugins/http-common';
import DataTable from '../components/DataTable.vue';

import dataUsach from '../components/data/careers.json';

const axios = require('axios');
axios.defaults.headers.post['Content-Type'] = 'application/json';

export default {
  name: 'panelView',
  
  props: {'token':String},
  components: {
    DataTable
  },
  data: vm => ({
    date: new Date().toISOString().substr(0, 10),
    dateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
    valid: true,
    menuDate: false,
    title: "",
    lastName: "",
    contact: "",
    career: dataUsach.careers,
    nameRules: [v => !!v || "El titulo es requerido"],
    lastNameRules: [v => !!v || "El Autor es requerido"],
    description: "",
    descrRules: [v => !!v || "La descripcion es requerido"],
    dateRules: [v => !!v || "La fecha de nacimiento es requerida"],
    response: "",
    category: "",
    careers: []
  }),
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date);
    }
  },
  watch: {
    date() {
      this.dateFormatted = this.formatDate(this.date);
    }
  },
  mounted() {
    const url = 'http://161.35.104.39:8081/category/all/';
    axios.get(url)
      .then( response => {
        this.categories = response.data;
        var i = 0;
          while (i < response.data.length) {
            this.careers.push(response.data[i].name);
            i += 1;
        }
        console.log(this.categories);
        console.log(this.careers);
        });
      
  },
  methods: {
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}-${month}-${year}`;
    },
    parseDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    goHome() {
                this.$router.push({name: 'home'});
            },
    sendStudent() {

      let json = JSON.stringify({
        token: this.$route.params.token,
        title: this.title,
        category: this.category,
        description: this.description,
        date: this.dateFormatted,
        price: 0,
        apreciation: 0,
        shown: 1
      });
      console.log(json);
      axios.post('http://161.35.104.39:8081/announcement/', json)
        .then(response => {
          console.log(response);
          if (this.$route.params.token == undefined){
            alert ("Por favor, inicie sesión");
          }else if (response.data == "Ha ocurrido un problema ingresando el anuncio"){
            alert("El anuncio no ha podido crearse. Por favor, verifique los datos ingresados");
          }else{
            alert("El anuncio ha sido creado correctamente");
          }
        })
        .catch(function (error) {
          console.log(error);
          alert("Error creando el anuncio. Por favor, intentelo nuevamente");
        });
                    
    },
    getCareers() {
      http
        .get("/careers")
        .then(response => {
          this.response = response.data; // JSON are parsed automatically.
          var i = 0;
          while (i < response.data.length) {
            //this.careers.push(response.data[i].name);
            i += 1;
          }
        })
        .catch(e => {
          console.log(e);
        });
    },
    reloadPage() {
      window.location.reload();
    },
  }
};
</script>
