<template>
  <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" v-on:click="goAbout()">Segunda Iteración Tingeso</a>
      <form class="form-inline">
        <button class="btn btn-sm btn-light" type="button" v-on:click="goLogin()">Iniciar Sesion</button>
      </form>
    </nav>
</template>