<template>
<div>
  <v-form id="dataTableForm" ef="form" v-model="valid">
    <v-card>
      <v-card-title>
        Usuarios mas Activos
        <v-spacer></v-spacer>
        
        <!-- <button class="btn btn-sm btn-dark" type="button" v-on:click="goHome()">Mostrar Todos</button> -->
      </v-card-title>
      <v-data-table :headers="headers" :items-per-page="10" :items="users" class="elevation-1"></v-data-table>
    </v-card>
  </v-form>
</div>
</template>

<script>


const axios = require('axios');
axios.defaults.headers.post['Content-Type'] = 'application/json';
import http from "@/plugins/http-common";


export default {
  components: {
  },
  data() {
    return {
      headers: [
        { text: "Usuario", value: "name" },
        { text: "Contacto", value: "phone" },
        { text: "Barrio", value: "neighborhoodName" },
        { text: "Cantidad", value: "number" },
      ],
      students: [],
      categorias:[],
      users:[],
      categoria: [
    {
        "id": 1,
        "name": "Venta de Ropa"
    },
    {
        "id": 2,
        "name": "Venta de Inmobilaria"
    },
    {
        "id": 3,
        "name": "Venta de Automovil"
    },
    {
        "id": 4,
        "name": "Venta de Comida"
    },
    {
        "id": 5,
        "name": "Servicio de Delivery"
    },
    {
        "id": 6,
        "name": "Servicio de Mudanza"
    },
    {
        "id": 7,
        "name": "Servicio de Construcción"
    },
    {
        "id": 8,
        "name": "Servicios Informáticos"
    },
    {
        "id": 9,
        "name": "Servicios Electronicos"
    },
    {
        "id": 10,
        "name": "Asistencia Tercera Edad"
    }
]
    };
  },
  methods: {
    handleClick(value) {
        console.log(value);
        this.$router.push({name: 'details', params: {token: this.$route.params.token, 'ad':value}});

    },
    getStudents() {
      http
        .get("/students")
        .then(response => {
          this.response = response.data; // JSON are parsed automatically.
          var i = 0;
          while (i < response.data.length) {
            var year = this.response[i].birthDate.substring(
              0,
              4
            );
            var month = this.response[i].birthDate.substring(
              5,
              7
            );
            var day = this.response[i].birthDate.substring(
              8,
              10
            );
            this.response[i].birthDate = day + "-" + month + "-" + year;
            this.students.push(this.response[i]);
            i += 1;
          }
        });
    },
    getToken() {
      let json = JSON.stringify({
          token: this.$route.params.token,
        });
        console.log(json);
        axios.post('http://161.35.104.39:8081/user/ranking', json)
          .then(response => {
            console.log(response.data);
            this.users = response.data
            
          })
          .catch(function (error) {
            console.log(error);
            alert ("Error comunicandose con el servidor. Por favor, intentelo nuevamente");
          });
      }
  },
  mounted() {
    //this.getStudents();
    this.getToken();
  }
};
</script>
