<template>
  <div >
  <v-container class=" ">
  
    <v-row justify="center" align="center">
      <h2 class="text-center">Equipo</h2>
    </v-row>

    <v-row justify="center" align="center">
      <v-img
        class="mx-4"
        max-height="600"
        max-width="660"
      ></v-img>
      <v-col cols="12">
        <v-row align="center" justify="center">
          <div v-for="person in team" :key="person.name" class="mx-auto">
            <v-card class="mx-1 custom-card-style" max-width="100">
              <v-card-text class="text-center">
                <div>{{person.job}}</div>
                <v-row justify="space-around" >
                  <v-img :src=" person.avatar " max-height="40" max-width="40"></v-img>
                </v-row>
                <br />
                <p class="display-5 text--primary">{{person.name}}</p>
              </v-card-text>
            </v-card>
            <v-spacer class="py-3"></v-spacer>
          </div>
        </v-row>
      </v-col>
      <p align="center"> Semestre 1-2020 </p>
    </v-row>
  </v-container>
  </div>
</template>

<style>
#div1{
  position:absolute;
  border:red 1px solid;
  height:100px;
  width:99%;
  }
</style>

<script>
export default {
  data() {
    return {
      team: [
      {
          name: "Benjamin Calderon",
          avatar:
            "https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Blank&hairColor=BlondeGolden&facialHairType=Blank&clotheType=Hoodie&clotheColor=Blue01&eyeType=Default&eyebrowType=Default&mouthType=Serious&skinColor=Pale",
          job: ""
        },
        {
          name: "Roberto Lillo",
          avatar:
            "https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Blank&hairColor=BlondeGolden&facialHairType=Blank&clotheType=Hoodie&clotheColor=Blue01&eyeType=Default&eyebrowType=Default&mouthType=Serious&skinColor=Pale",
          job: ""
        },
        {
          name: "Javier Pérez ",
          avatar:
            "https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Blank&hairColor=Brown&facialHairType=Blank&clotheType=Hoodie&clotheColor=Black&eyeType=Default&eyebrowType=Default&mouthType=Smile&skinColor=Pale",
          job: ""
        },
        {
          name: "Edson Reyes",
          avatar:
            "https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Blank&hairColor=BlondeGolden&facialHairType=Blank&clotheType=Hoodie&clotheColor=Blue01&eyeType=Default&eyebrowType=Default&mouthType=Serious&skinColor=Pale",
          job: ""
        },
        {
          name: "Francisco Rousseau",
          avatar:
            "https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Blank&hairColor=BlondeGolden&facialHairType=Blank&clotheType=Hoodie&clotheColor=Blue01&eyeType=Default&eyebrowType=Default&mouthType=Serious&skinColor=Pale",
          job: ""
        },
        {
          name: "César Salazar",
          avatar:
            "https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=Blue03&eyeType=Happy&eyebrowType=Default&mouthType=Smile&skinColor=Light",
          job: ""
        },
        {
          name: "Kevin Villalobos",
          avatar:
            "https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Blank&hairColor=BlondeGolden&facialHairType=Blank&clotheType=Hoodie&clotheColor=Blue01&eyeType=Default&eyebrowType=Default&mouthType=Serious&skinColor=Pale",
          job: ""
        }   
      ]
    };
  }
};
</script>

<style>
.custom-card-style {
  transition: background 0.2s ease-out !important;
}
.custom-card-style:hover {
  background: #d9d9d9 !important;
}
</style>