<template >
  <v-app >
    <v-content >
      <modal></modal>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>


export default {
  name: "App",

  components: {
  },

  data: () => ({
  })

};
</script>


<style>
body {
  height: 100%;
  width: 100%;
}
</style>